# Xcode

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Package.resolved

.build/

# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace
Sources/.DS_Store
.DS_Store
